<a href="https://colab.research.google.com/github/Dak30/MongoDB/blob/main/MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!python -m pip install "pymongo[srv]"

Collecting pymongo[srv]
  Downloading pymongo-4.7.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (670 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 670.0/670.0 kB 3.8 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 25.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.7.2

In [7]:

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://root:DQ_CHESS30Kj@cluster0.jxw8prd.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [8]:
db = client.sample_mflix
collection = db.movies

# Ejecuta la consulta y muestra los resultados
query = {"countries": "Colombia", "awards.wins": {"$gt": 2}}
projection = {"_id": 0, "title": 1, "year": 1, "awards.wins": 1}
results = collection.find(query, projection).sort("awards.wins", -1).limit(5)

for result in results:
    print(result)

{'title': 'Maria Full of Grace', 'awards': {'wins': 41}, 'year': 2004}
{'title': 'La vendedora de rosas', 'awards': {'wins': 14}, 'year': 1998}
{'title': 'Paraiso Travel', 'awards': {'wins': 12}, 'year': 2008}
{'title': 'La estrategia del caracol', 'awards': {'wins': 11}, 'year': 1993}
{'title': 'Undertow', 'awards': {'wins': 10}, 'year': 2009}

In [9]:

movies_2000  = db.movies.find({"year":2000}).limit(10)
for movie in movies_2000:
  print(f"{movie['year']} - {movie['title']} ")

2000 - In the Mood for Love
2000 - State and Main
2000 - April Captains
2000 - Chicken Run
2000 - Mission: Impossible II
2000 - The Million Dollar Hotel
2000 - X-Men
2000 - The Emperor's New Groove
2000 - Titan A.E.
2000 - Return to Me

In [10]:
# 2. Contar el número total de películas

count = db.movies.count_documents({})

print(f"Número total de películas: {count}")

Número total de películas: 21349

In [11]:
# 3. Obtener nombres de 10  películas lanzadas en el año 2000

movies_2000 = db.movies.find({"year": 2000}).limit(10)
for movie in movies_2000:
    print(f"{movie['year']} - {movie['title']}")

2000 - In the Mood for Love
2000 - State and Main
2000 - April Captains
2000 - Chicken Run
2000 - Mission: Impossible II
2000 - The Million Dollar Hotel
2000 - X-Men
2000 - The Emperor's New Groove
2000 - Titan A.E.
2000 - Return to Me

In [16]:
from pymongo import MongoClient
from tabulate import tabulate
high_rated_movies = db.movies.find({"imdb.rating": {"$gte": 6},
                                    "title": { "$regex" : '(( +|^)amor( +|$))|(( +|^)love( +|$))'}},
                                   ).sort({"imdb.rating": -1, "year":1, "title":1})

table = []
for movie in high_rated_movies:
    table.append([movie['year'], movie['title'], movie['imdb']['rating']])

print(tabulate(table, headers=['Year', 'Title', 'Rating']))

  Year  Title                    Rating
------  ---------------------  --------
  1986  El amor brujo               7
  2011  Un amor                     6.4
  2007  El resultado del amor       6

In [17]:
# 5. Obtener las películas del director “Steven Spielberg” ordenadas por año

spielberg_movies = db.movies.find({"directors": "Steven Spielberg"}).sort({"year":1})
table = []
for movie in spielberg_movies:
    table.append([movie['year'], movie['title'], movie['imdb']['rating']])

print(tabulate(table, headers=['Year', 'Title', 'Rating']))

  Year  Title                                                 Rating
------  --------------------------------------------------  --------
  1971  Duel                                                     7.7
  1974  The Sugarland Express                                    6.8
  1975  Jaws                                                     8.1
  1977  Close Encounters of the Third Kind                       7.7
  1981  Raiders of the Lost Ark                                  8.6
  1982  E.T. the Extra-Terrestrial                               7.9
  1983  Twilight Zone: The Movie                                 6.5
  1984  Indiana Jones and the Temple of Doom                     7.6
  1985  The Color Purple                                         7.8
  1987  Empire of the Sun                                        7.8
  1989  Always                                                   6.4
  1989  Indiana Jones and the Last Crusade                       8.3
  1991  Hook                                                     6.7
  1993  Jurassic Park                                            8.1
  1993  Schindler's List                                         8.9
  1997  Amistad                                                  7.2
  1997  The Lost World: Jurassic Park                            6.5
  1998  Saving Private Ryan                                      8.6
  2001  A.I. Artificial Intelligence                             7.1
  2002  Minority Report                                          7.7
  2002  Catch Me If You Can                                      8
  2004  The Terminal                                             7.3
  2004  The Terminal                                             7.3
  2005  War of the Worlds                                        6.5
  2005  Munich                                                   7.6
  2008  Indiana Jones and the Kingdom of the Crystal Skull       6.2
  2011  The Adventures of Tintin                                 7.4
  2011  War Horse                                                7.2
  2012  Lincoln                                                  7.4

In [18]:
# 6. Obtener las películas y series en las que participó el actor “Tom Hanks”

hanks_movies = db.movies.find({"cast": "Tom Hanks"})

table = []
for movie in hanks_movies:
    table.append([movie['year'], movie['title'], movie['imdb']['rating'], movie['type']])

print(tabulate(table, headers=['Year', 'Title', 'Rating', 'Type']))

  Year  Title                                Rating  Type
------  ---------------------------------  --------  ------
  1984  Splash                                  6.2  movie
  1986  Nothing in Common                       5.9  movie
  1988  Big                                     7.3  movie
  1988  Punchline                               5.8  movie
  1989  The 'Burbs                              6.8  movie
  1989  Turner & Hooch                          6    movie
  1990  The Bonfire of the Vanities             5.4  movie
  1992  A League of Their Own                   7.2  movie
  1993  Philadelphia                            7.7  movie
  1993  Sleepless in Seattle                    6.8  movie
  1994  Forrest Gump                            8.8  movie
  1995  Apollo 13                               7.6  movie
  1995  Toy Story                               8.3  movie
  1999  Toy Story 2                             7.9  movie
  1998  From the Earth to the Moon              8.9  series
  1999  The Green Mile                          8.5  movie
  1998  Saving Private Ryan                     8.6  movie
  1998  You've Got Mail                         6.5  movie
  2000  Shooting War                            7.9  movie
  2002  Catch Me If You Can                     8    movie
  2004  The Ladykillers                         6.2  movie
  2004  The Polar Express                       6.6  movie
  2004  The Terminal                            7.3  movie
  2006  The Da Vinci Code                       6.5  movie
  2004  The Terminal                            7.3  movie
  2010  Toy Story 3                             8.4  movie
  2007  Charlie Wilson's War                    7.1  movie
  2011  Extremely Loud & Incredibly Close       6.9  movie
  2009  Angels & Demons                         6.7  movie
  2007  The War                                 9    series
  2012  Cloud Atlas                             7.5  movie
  2013  Captain Phillips                        7.9  movie
  2011  Larry Crowne                            6    movie
  2013  Saving Mr. Banks                        7.5  movie
  2013  Killing Lincoln                         6.8  movie
  2013  Toy Story of Terror                     7.6  movie
  2014  Toy Story That Time Forgot              7.3  movie

In [19]:
# 7. Obtener las 10 películas de género “Drama” mejor calificada en el siglo XXI

drama_movies = db.movies.find(
    {"genres": "Drama",
     "type": "movie",
     "year": {"$gte": 2000},
     "imdb.rating": {"$gte":0}
     }
    ).sort({"imdb.rating": -1}).limit(10)

table = []
for movie in drama_movies:
    table.append([movie['year'], movie['title'], movie['imdb']['rating'], movie['type']])

print(tabulate(table, headers=['Year', 'Title', 'Rating', 'Type']))

  Year  Title                     Rating  Type
------  ----------------------  --------  ------
  2008  The Dark Knight              9    movie
  2013  Drishyam                     8.9  movie
  2003  Love is God                  8.9  movie
  2015  Most Likely to Succeed       8.9  movie
  2014  Kaakkaa Muttai               8.8  movie
  2014  Killswitch                   8.8  movie
  2014  Interstellar                 8.7  movie
  2002  City of God                  8.7  movie
  2015  The Great Alone              8.7  movie
  2005  My Father and My Son         8.7  movie

In [20]:
# 8. Obtener las mejores 20 películas de ciencia ficción lanzadas antes del año 2000

sci_fi_movies = db.movies.find(
    {"genres": "Sci-Fi",
     "type": "movie",
     "year": {"$lt": 2000},
     "imdb.rating": {"$gte":0}
     }
    ).sort({"imdb.rating": -1}).limit(20)

table = []
for movie in sci_fi_movies:
    table.append([movie['year'], movie['title'], movie['imdb']['rating'], movie.get('cast')])

print(tabulate(table, headers=['Year', 'Title', 'Rating', 'cast']))

  Year  Title                                Rating  cast
------  ---------------------------------  --------  -----------------------------------------------------------------------------------
  1988  Heart of a Dog                          9    ['Evgeniy Evstigneev', 'Vladimir Tolokonnikov', 'Boris Plotnikov', 'Roman Kartsev']
  1999  The Matrix                              8.7  ['Keanu Reeves', 'Laurence Fishburne', 'Carrie-Anne Moss', 'Hugo Weaving']
  1991  Terminator 2: Judgment Day              8.5  ['Arnold Schwarzenegger', 'Linda Hamilton', 'Edward Furlong', 'Robert Patrick']
  1979  Alien                                   8.5  ['Tom Skerritt', 'Sigourney Weaver', 'Veronica Cartwright', 'Harry Dean Stanton']
  1985  Back to the Future                      8.5  ['Michael J. Fox', 'Christopher Lloyd', 'Lea Thompson', 'Crispin Glover']
  1986  Aliens                                  8.4  ['Sigourney Weaver', 'Carrie Henn', 'Michael Biehn', 'Paul Reiser']
  1968  2001: A Space Odyssey                   8.3  ['Keir Dullea', 'Gary Lockwood', 'William Sylvester', 'Daniel Richter']
  1998  More                                    8.3
  1982  The Thing                               8.2  ['Kurt Russell', 'Wilford Brimley', 'T.K. Carter', 'David Clennon']
  1986  Kin-dza-dza!                            8.2  ['Stanislav Lyubshin', 'Evgeniy Leonov', 'Yuriy Yakovlev', 'Levan Gabriadze']
  1953  Duck Dodgers in the 24èth Century       8.2  ['Mel Blanc']
  1982  Blade Runner                            8.2  ['Harrison Ford', 'Rutger Hauer', 'Sean Young', 'Edward James Olmos']
  1972  Solaris                                 8.1  ['Natalya Bondarchuk', 'Donatas Banionis', 'Jèri Jèrvet', 'Vladislav Dvorzhetskiy']
  1988  Akira                                   8.1  ['Mitsuo Iwata', 'Nozomu Sasaki', 'Mami Koyama', 'Tesshè Genda']
  1988  Akira                                   8.1  ['Mitsuo Iwata', 'Nozomu Sasaki', 'Mami Koyama', 'Tesshè Genda']
  1993  Jurassic Park                           8.1  ['Sam Neill', 'Laura Dern', 'Jeff Goldblum', 'Richard Attenborough']
  1965  The War Game                            8.1  ['Michael Aspel', 'Peter Graham']
  1995  Twelve Monkeys                          8.1  ['Joseph Melito', 'Bruce Willis', 'Jon Seda', 'Michael Chance']
  1984  The Terminator                          8.1  ['Arnold Schwarzenegger', 'Michael Biehn', 'Linda Hamilton', 'Paul Winfield']
  1985  Brazil                                  8    ['Jonathan Pryce', 'Robert De Niro', 'Katherine Helmond', 'Ian Holm']

In [21]:
# 9. Obtener las películas con una duración de más de 180 minutos

long_movies = db.movies.find(
    {"runtime": {"$gt": 180},
     "type" : "movie"}
    ).sort({"year": -1})

table = []
for movie in long_movies:
    table.append([movie['year'], movie['title'], movie['imdb']['rating'], movie['runtime']])

print(tabulate(table, headers=['Year', 'Title', 'Rating', 'runtime']))

  Year  Title                                                                                                   Rating    runtime
------  ----------------------------------------------------------------------------------------------------  --------  ---------
  2015  Homeland (Iraq Year Zero)                                                                                  8.8        334
  2014  Kano                                                                                                       8          185
  2014  Winter Sleep                                                                                               8.3        196
  2013  Home from Home: Chronicle of a Vision                                                                      7.9        231
  2013  History of the Eagles Part One                                                                             8.1        187
  2013  The Last of the Unjust                                                                                     7          220
  2013  Bhaag Milkha Bhaag                                                                                         8.4        186
  2013  Norte, the End of History                                                                                  7.4        250
  2013  At Berkeley                                                                                                7.3        244
  2013  'Til Madness Do Us Part                                                                                    7.8        227
  2012  Gangs of Wasseypur                                                                                         8.4        320
  2011  George Harrison: Living in the Material World                                                              8.2        208
  2011  Shapito-shou                                                                                               7.7        207
  2011  Century of Birthing                                                                                        7.1        360
  2010  Utomlyonnye solntsem 2: Predstoyanie                                                                       4.1        181
  2010  Mysteries of Lisbon                                                                                        7.5        272
  2010  Aurora                                                                                                     6.7        181
  2009  The Diplomat                                                                                               5.6        190
  2009  Under the North Star                                                                                       6.8        193
  2008  Jodhaa Akbar                                                                                               7.6        213
  2008  Halla Bol                                                                                                  6.3        242
  2008  Ghajini                                                                                                    7.3        183
  2008  Extraordinary Stories                                                                                      8.1        245
  2008  Smashing Pumpkins: If All Goes Wrong                                                                       8.4        271
  2007  Grindhouse                                                                                                 7.7        191
  2007  Sivaji                                                                                                     7.4        188
  2007  United Red Army                                                                                            7.3        190
  2007  Tom Petty and the Heartbreakers: Runnin' Down a Dream                                                      8.5        239
  2007  St. Giuseppe Moscati: Doctor to the Poor                                                                   7.5        200
  2007  Legally Blonde: The Musical                                                                                8.3        185
  2007  United Red Army                                                                                            7.3        190
  2006  Kabhi Alvida Naa Kehna                                                                                     6          193
  2006  Hogfather                                                                                                  7.6        189
  2005  Netaji Subhas Chandra Bose: The Forgotten Hero                                                             7.3        208
  2005  King Kong                                                                                                  7.3        187
  2005  Turetskiy gambit                                                                                           7.1        208
  2005  Anniyan                                                                                                    8.1        181
  2005  Regular Lovers                                                                                             7.1        183
  2005  The State Counsellor                                                                                       7.2        191
  2005  Pope John Paul II                                                                                          7.1        201
  2004  Long Dark Night                                                                                            6.9        200
  2004  Lakshya                                                                                                    7.9        186
  2004  Four Shades of Brown                                                                                       7.5        192
  2004  Four Shades of Brown                                                                                       7.5        192
  2004  Four Shades of Brown                                                                                       7.5        192
  2004  Salem's Lot                                                                                                6.3        181
  2004  Curse of the Ring                                                                                          6.7        184
  2004  Route 181: Fragments of a Journey in Palestine-Israel                                                      6.8        270
  2004  Veer-Zaara                                                                                                 7.9        192
  2003  The Lord of the Rings: The Return of the King                                                              8.9        201
  2003  Main Prem Ki Diwani Hoon                                                                                   4          197
  2003  Main Prem Ki Diwani Hoon                                                                                   4          197
  2003  Gods and Generals                                                                                          6.3        219
  2003  The Mayor of Casterbridge                                                                                  7.9        196
  2003  Baghban                                                                                                    7.5        181
  2003  The Best of Youth                                                                                          8.5        383
  2003  Kal Ho Naa Ho                                                                                              8.1        186
  2003  LOC: Kargil                                                                                                5          255
  2002  Devdas                                                                                                     7.6        185
  2002  Salem Witch Trials                                                                                         6.2        240
  2002  Caesar                                                                                                     6.8        240
  2002  The Hunt for the Hidden Relic                                                                              5.7        182
  2002  Tie Xi Qu: West of the Tracks                                                                              8.5        551
  2002  The Guardian Spirit of the House                                                                           8.1        220
  2001  My Voyage to Italy                                                                                         8.3        246
  2001  Pearl Harbor                                                                                               6          183
  2001  Kabhi Khushi Kabhie Gham...                                                                                7.5        210
  2001  My Voyage to Italy                                                                                         8.3        246
  2001  Nayak: The Real Hero                                                                                       7.7        187
  2001  Mark Twain                                                                                                 8.3        212
  2000  Anne of Green Gables: The Continuing Story                                                                 6.8        185
  2000  The New Country                                                                                            7.5        232
  2000  Longitude                                                                                                  7.9        200
  2000  Mohabbatein                                                                                                7.1        216
  2000  On the Beach                                                                                               7.1        195
  2000  Hey Ram                                                                                                    8          186
  2000  Eureka                                                                                                     7.9        217
  2000  Refugee                                                                                                    5.6        207
  2000  La Commune (Paris, 1871)                                                                                   7.9        345
  1999  The Green Mile                                                                                             8.5        189
  1999  Sunshine                                                                                                   7.5        181
  1999  Magnolia                                                                                                   8          188
  1999  The Hunt for the Unicorn Killer                                                                            6.5        240
  1999  Jesus                                                                                                      6          240
  1999  Jesus                                                                                                      6          240
  1998  The Sleep Room                                                                                             7.2        193
  1998  Creature                                                                                                   4.9        240
  1997  Rough Riders                                                                                               7.5        184
  1997  True Women                                                                                                 6.7        183
  1997  David                                                                                                      7          190
  1997  Pardes                                                                                                     7          191
  1997  Titanic                                                                                                    7.7        194
  1997  Public Housing                                                                                             7.5        200
  1997  Painted Lady                                                                                               7.2        204
  1996  Private Confessions                                                                                        7.4        196
  1996  Hamlet                                                                                                     7.8        242
  1996  In Cold Blood                                                                                              6.3        240
  1995  Nixon                                                                                                      7.1        192
  1994  World War II: When Lions Roared                                                                            6.6        194
  1994  Hum Aapke Hain Koun...!                                                                                    7.7        206
  1994  Satantango                                                                                                 8.5        450
  1994  Wyatt Earp                                                                                                 6.6        191
  1993  Gettysburg                                                                                                 7.7        271
  1993  Heidi                                                                                                      7.1        193
  1993  Khal Nayak                                                                                                 7.3        190
  1993  Schindler's List                                                                                           8.9        195
  1993  Short Cuts                                                                                                 7.7        187
  1993  Smoking/No Smoking                                                                                         7.4        298
  1993  Abraham's Valley                                                                                           7.5        187
  1993  Devasuram                                                                                                  8.2        187
  1992  The Best Intentions                                                                                        7.8        182
  1992  The Jacksons: An American Dream                                                                            7.4        240
  1992  Malcolm X                                                                                                  7.7        202
  1992  Alexander Graham Bell: The Sound and the Silence                                                           6.9        420
  1992  The Boys of St. Vincent                                                                                    7.8        186
  1992  Malcolm X                                                                                                  7.7        202
  1991  The Cave of the Golden Rose                                                                                7.6        200
  1991  At Play in the Fields of the Lord                                                                          6.7        189
  1991  A Brighter Summer Day                                                                                      8.3        237
  1991  JFK                                                                                                        8          189
  1991  Saajan                                                                                                     7.3        181
  1990  Dances with Wolves                                                                                         8          181
  1989  La rèvolution franèaise                                                                                    7.5        360
  1989  The Winter War                                                                                             7.9        195
  1989  Maine Pyar Kiya                                                                                            7.6        192
  1988  Hètel Terminus                                                                                             7.8        267
  1988  Sagolandet                                                                                                 7.2        185
  1987  Little Dorrit                                                                                              7.5        357
  1987  The Houses Are Full of Smoke                                                                               7.3        183
  1986  Rage of Angels: The Story Continues                                                                        6.4        190
  1986  Comrades                                                                                                   7.5        183
  1985  Alice in Wonderland                                                                                        7.4        187
  1985  Alice in Wonderland                                                                                        7.4        187
  1985  The Unknown Soldier                                                                                        7.5        199
  1984  Kaos                                                                                                       7.9        188
  1984  Once Upon a Time in America                                                                                8.4        229
  1983  The Right Stuff                                                                                            7.9        193
  1983  Tokyo Trial                                                                                                7.2        277
  1982  Fanny and Alexander                                                                                        8.1        188
  1982  Gandhi                                                                                                     8.1        191
  1982  Parsifal                                                                                                   7.6        255
  1982  A Woman Called Golda                                                                                       7.8        200
  1981  Reds                                                                                                       7.5        195
  1980  The Falls                                                                                                  7.5        195
  1980  Guyana Tragedy: The Story of Jim Jones                                                                     7.6        192
  1980  Heaven's Gate                                                                                              6.7        325
  1980  Alexander the Great                                                                                        7.6        235
  1979  Siberiade                                                                                                  8.1        206
  1979  Tess                                                                                                       7.3        186
  1978  The Tree of Wooden Clogs                                                                                   7.9        186
  1978  The Deer Hunter                                                                                            8.2        183

In [22]:
# 10. Series de la decada de 2000 con más de 20 premios

nineties_movies = db.movies.find(
    {"awards.wins": {"$gte": 20},
     "type" : "series",
     "year" : {"$gte": 2001, "$lte": 2010}
    }
    ).sort({"title": 1})

table = []
for movie in nineties_movies:
    table.append([movie['year'], movie['title'], movie['awards']['wins']])

print(tabulate(table, headers=['Year', 'Title', 'Wins']))

  Year  Title                Wins
------  -----------------  ------
  2003  Angels in America      53
  2003  Angels in America      53
  2001  Band of Brothers       34
  2005  Bleak House            21
  2005  Elizabeth I            24
  2008  John Adams             39
  2008  John Adams             39
  2010  The Pacific            24

In [23]:
# 11. Número total de comentarios para la película con el título “Jaws”

jaws_comments_count = db.comments.count_documents({"movie_id": db.movies.find_one({"title": "Jaws"})["_id"]})
print(f"Comentarios: {jaws_comments_count}")

Comentarios: 147

In [24]:
# 12. Obtener 10 comentarios para las películas lanzadas en el año 2000

movies_2000 = db.movies.find({"year": 2000}, {"_id":1}) # Películas del año 2000
lista = [movie["_id"] for movie in movies_2000]         # Lista con solo los id de las películas del año 2000

comments_2000 = db.comments.find({"movie_id": {"$in": lista}}).limit(10)

table = [["name", "email", "text"]]
for comment in comments_2000:
    table.append([comment['name'], comment['email'], comment['text']])

print(tabulate(table, headers="firstrow"))

name             email                           text
---------------  ------------------------------  ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Alliser Thorne   owen_teale@gameofthron.es       Molestiae illo blanditiis consequuntur labore hic. Facere suscipit voluptates voluptates commodi. Quod aperiam laboriosam omnis possimus blanditiis consectetur quam fugit.
Alliser Thorne   owen_teale@gameofthron.es       A numquam totam eius consectetur non tenetur. Recusandae quo eaque autem officia ipsum reprehenderit. Quo itaque ipsum perferendis quas dolor laudantium ipsam tempora.
Amy Phillips     amy_phillips@fakegmail.com      Repellendus necessitatibus deserunt quibusdam porro cumque tenetur. In animi impedit similique. Voluptates ipsum corporis at aperiam asperiores atque tempore ducimus.
Amy Ramirez      amy_ramirez@fakegmail.com       Officiis quod sapiente animi dolorem. Eos pariatur error itaque culpa doloremque.
Anthony Cline    anthony_cline@fakegmail.com     Quisquam illo natus dolorum blanditiis nostrum magnam dolorum. Nesciunt odio odit nobis. Sequi tempora laudantium ipsa illo nam itaque dolorem. Harum ex architecto fugit maiores deleniti et.
April Cole       april_cole@fakegmail.com        Eos rerum repudiandae ab dolorum aperiam. Aut nam placeat provident sint. Non soluta nihil repellendus molestiae. Omnis voluptatem nemo atque dolor dicta.
Arya Stark       maisie_williams@gameofthron.es  Necessitatibus error nobis autem doloremque a nam excepturi. Esse veritatis ducimus vel ad. Architecto eaque soluta id libero nemo ab alias.
Ashlee Hart      ashlee_hart@fakegmail.com       Maxime ipsam ipsum molestiae neque velit sunt sint. Aliquid fuga quam reprehenderit ex. Natus hic similique quo suscipit temporibus.
Ashlee Hart      ashlee_hart@fakegmail.com       Culpa voluptas earum occaecati voluptatem culpa accusantium nesciunt. Vero id sunt consequuntur mollitia sit. Rem quam odit exercitationem exercitationem at.
Barristan Selmy  ian_mcelhinney@gameofthron.es   Tempora iure ipsam totam quaerat dignissimos pariatur fuga non. Sequi ullam quidem neque. Dolore esse ipsam exercitationem atque eveniet mollitia.

In [25]:
# 13. Películas que tienen al menos 155 comentarios

most_commented  = db.comments.aggregate(
    [
        {"$group": {"_id": "$movie_id", "count": {"$sum": 1}}},
        {"$match": {"count": {"$gte": 155}}},
        {"$project": {"_id": 1}}
    ]
)

popular_movies = db.movies.find({"_id": { "$in": [doc["_id"] for doc in most_commented] } })

table = []
for movie in popular_movies:
    table.append([movie['year'], movie['title'], movie['cast']])

print(tabulate(table, headers=['Year', 'Title', 'Cast']))

  Year  Title                        Cast
------  ---------------------------  -------------------------------------------------------------------------------
  1999  The Mummy                    ['Brendan Fraser', 'Rachel Weisz', 'John Hannah', 'Arnold Vosloo']
  2001  Ocean's Eleven               ['George Clooney', 'Cecelia Ann Birt', 'Paul L. Nolan', 'Carol Florence']
  2002  About a Boy                  ['Hugh Grant', 'Nicholas Hoult', 'Sharon Small', 'Madison Cook']
  2004  50 First Dates               ['Adam Sandler', 'Drew Barrymore', 'Rob Schneider', 'Sean Astin']
  2008  Hellboy II: The Golden Army  ['Ron Perlman', 'Selma Blair', 'Doug Jones', 'John Alexander']
  2009  Terminator Salvation         ['Christian Bale', 'Sam Worthington', 'Moon Bloodgood', 'Helena Bonham Carter']
  2009  Sherlock Holmes              ['Robert Downey Jr.', 'Jude Law', 'Rachel McAdams', 'Mark Strong']
  2009  The Taking of Pelham 1 2 3   ['Denzel Washington', 'John Travolta', 'Luis Guzmèn', 'Victor Gojcaj']

In [26]:
# 14. Películas de ciencia ficción con más de 10 comentarios

commented_movies = db.movies.aggregate(
    [
        # Paso 1: filtrar la colección movies para encontrar el género buscado
        {
            "$match": { "genres": "Sci-Fi"}
        },
        # Paso 2: Hacer el join con la colección comments por medio de los campos comunes (_id de movies y movie_id de comments)
        {
            "$lookup": {
                "from": "comments",
                "localField": "_id",
                "foreignField": "movie_id",
                "as": "movie_comments"
            }
        },
        # Paso 3: Generar una nueva colección solo con los campos título, año y la cantidad de elementos del arreglo movie_comments
        {
            "$project": {
                "title": 1,
                "year": 1,
                "num_comments": {"$size": "$movie_comments"}
            }
        },
        # Filtrar solamente los que tengan más de 10 comentarios
        {
            "$match": {
                "num_comments": { "$gt": 10}
            }
        },
        # Ordenar por número de comentarios en orden descendente
        {
            "$sort": {
                "num_comments": -1
            }
        },
        # Limitar la consulta a 10 registros
        {
            "$limit": 10
        }
    ]
)


table = [["Year", "Title", "# Comments"]]
for movie in commented_movies:
    table.append([movie['year'], movie['title'], movie['num_comments']])

print(tabulate(table, headers="firstrow"))

  Year  Title                         # Comments
------  --------------------------  ------------
  2009  Terminator Salvation                 158
  2000  X-Men                                153
  1982  E.T. the Extra-Terrestrial           153
  2003  The Matrix Reloaded                  151
  2007  I Am Legend                          148
  1993  Jurassic Park                        148
  2009  Star Trek                            142
  2005  War of the Worlds                    140
  2003  X-Men 2                              140
  2003  The Matrix Revolutions               139

In [27]:
# 15. Películas de guerra con más comentadores

commented_movies = db.movies.aggregate(
    [
        # Paso 1: filtrar la colección movies para encontrar el género buscado
        {
            "$match": { "genres": "War" }
        },
        # Paso 2: Hacer el join con la colección comments por medio de los campos comunes (_id de movies y movie_id de comments)
        {
            "$lookup": {
                "from": "comments",
                "localField": "_id",
                "foreignField": "movie_id",
                "as": "movie_comments"
            }
        },
        # Paso 3: Generar una nueva colección solo con los campos título, año y la cantidad de elementos del arreglo movie_comments
        {
            "$project": {
                "title": 1,
                "year": 1,
                "movie_comments": 1,
                "num_comments": {"$size": "$movie_comments"}
            }
        },
        # Paso 4: Descomponer el arreglo movie_comments que quedó adherido
        {
            "$unwind": "$movie_comments"
        },
        # Paso 5: Agrupar por el usuario que comentó
        {
            "$group": {"_id": { "title": "$title", "year": "$year", "num_comments": "$num_comments", "user": "$movie_comments.email"} }
        },
        # Paso 6: Agrupar contando solamente los usuarios que comentaron
        {
            "$group": {"_id": { "title": "$_id.title", "year": "$_id.year", "num_comments": "$_id.num_comments"}, "num_commenters": {"$sum": 1}},
        },
                # Filtrar solamente los que tengan más de 10 comentadores
        {
            "$match": {
                "num_commenters": { "$gt": 10}
            }
        },
        # Paso 7: Ordenar por número de comentadores en orden descendente
        {
            "$sort": {
                "num_commenters": -1
            }
        },
        # Limitar la consulta a 10 registros
        {
            "$limit": 10
        }
    ]
)

table = [["Year", "Title", "# Comments", "# Commenters"]]
for movie in commented_movies:
    table.append([movie['_id']['year'], movie['_id']['title'], movie['_id']['num_comments'], movie['num_commenters']])

print(tabulate(table, headers="firstrow"))

  Year  Title                   # Comments    # Commenters
------  --------------------  ------------  --------------
  2006  300                            145             102
  1998  Saving Private Ryan            144              96
  2009  Inglourious Basterds           127              91
  2008  Stop-Loss                      128              88